@model Travel.Models.TourViewModels.CatalogViewModel
@{
    ViewData["Title"] = Model.Category.Name;
    ViewData["MetaKeyword"] = Model.Category.SeoKeywords;
    ViewData["MetaDescription"] = Model.Category.SeoDescription;
}
@section Scripts{
    <script src="~/lib/notify.js"></script>
    <script src="~/app/shared/travel.js"></script>
    <script src="~/client-side/js/controllers/home/index.js"></script>
    <script>
        var home = new HomeController();
        home.initialize();
    </script>
}
<!-- Breadcrumbs -->
<!--================ Start banner section =================-->
<section class="home-banner-area relative">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="header-right col-lg-6 col-md-6">
                <h1>
                    @Model.Category.Name
                </h1>
                <p class="pt-20">
                    @Model.Category.Description
                </p>
                <a href="#" class="main_btn">
                    Xem ngay
                    <img src="~/client-assets/img/next.png" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-md-6 header-left">
                <div class="">
                    <img class="img-fluid w-100" src="@Model.Category.Image" alt="">
                </div>
                <div class="video-popup d-flex align-items-center" style="z-index:0">
                    <a class="play-video video-play-button animate"
                       data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End banner section =================-->
@if (Model.Data.Results == null)
{
    <section class="htc__product__area shop__page ptb--130 bg__white">
        <div class="container">
            <!-- Main Container -->
            <div class="htc__product__container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-danger">Xin lỗi! Hiện tại chưa có tour thuộc danh mục này.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <!--================Blog Area =================-->
    <section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <form action="/@Model.Category.SeoAlias-c.@(Model.Category.Id).html" method="get">

                        <div class="form-row">
                            <div class="col">
                                <a class="filter__menu" href="#">Sắp xếp theo:</a>
                                <br />
                                <select class="form-control" name="sortBy" asp-for="SortType"
                                        onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                            </div>
                            <div class="col">
                                <a class="filter__menu" href="#">Hiển thị</a>
                                <br />
                                <select class="form-control" name="pageSize" asp-for="PageSize" onchange="this.form.submit()"
                                        asp-items="Model.PageSizes"></select>
                            </div>
                        </div>
                    </form>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        @foreach (var item in Model.Data.Results)
                        {
                            <article class="row blog_item">
                                <div class="col-md-4">
                                    <div class="blog_info text-right">
                                        <ul class="blog_meta list">
                                            <li><a title="Ngày đi">Ngày đi: @item.Departure.ToString("dd-MM-yyyy")<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a title="Số ngày đi">Sô ngày đi: @item.Duration<i class="lnr lnr-eye"></i></a></li>
                                            <li><a title="Lượt xem">Lượt xem: @string.Format("{0:#,0.00}", item.ViewCount)<i class="lnr lnr-eye"></i></a></li>

                                            @if (item.SeatAvailability > 0)
                                            {
                                                <li>
                                                    <a title="Số vé còn lại">
                                                        Vé còn: @item.SeatAvailability <i class="lnr lnr-eye"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a title="Số vé còn lại">
                                                        Hết vé<i class="lnr lnr-eye"></i>
                                                    </a>
                                                </li>
                                            }
                                            <li><a title="Giá"> Giá: @item.Price.ToString("#,###") đ<i class="lnr lnr-eye"></i></a></li>

                                            @if (item.PromotionPrice == 0 || item.PromotionPrice == null)
                                            {
                                                @if (item.HotFlag == true)
                                                {
                                                    <li><a href="#">HOT<i class="lnr lnr-heart-pulse"></i></a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li><a href="#"> Giá KM: @String.Format("{0:N0}", item.PromotionPrice) đ<i class="lnr lnr-eye"></i></a></li>
                                                <li><a href="#">Giảm @(100 - (int)((item.PromotionPrice / item.Price) * 100))%<i class="lnr lnr-heart-pulse"></i></a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="blog_post">
                                        <a href="/@item.SeoAlias-p.@(item.Id).html">
                                            <img src="@item.Image" alt="">
                                        </a>
                                        <div class="blog_details">
                                            <a href="/@item.SeoAlias-p.@(item.Id).html">
                                                <h2>@item.Name</h2>
                                            </a>
                                            <p>
                                                @item.Description
                                            </p>
                                            <a href="/@item.SeoAlias-p.@(item.Id).html" class="main_btn" title="Xem chi tiết"><i class="fa fa-info-circle"></i></a>
                                            @if (item.SeatAvailability >= 1)
                                            {
                                                <a href="#" class="main_btn btnAddToCart" data-id="@item.Id" title="Thêm giỏ hàng"><i class="fa fa-shopping-bag"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        @(await Component.InvokeAsync("Pager", Model.Data))
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form class="input-group" action="/tim-kiem.html" method="post">
                                <input name="keyword" value="@ViewData["keyword"]" type="text" class="form-control" placeholder="Tìm kiếm" title="Điểm đến, ngày đi, loại tour...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </form><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <vc:top-tour></vc:top-tour>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="~/client-assets/img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <vc:category-menu-side-bar></vc:category-menu-side-bar>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@Html.Partial("_TourDetail.cshtml")
